/* src/app/globals.css */
@import '../styles/intro.css';
@import '../styles/experience.css';
@import '../styles/animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-orbitron), 'Arial', sans-serif;
}


.swipe-container {
  touch-action: pan-y pinch-zoom;
}

@keyframes gradient-x {
  0%, 100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s linear infinite;
}

